$custom-blue: #596bc1;
$scrollbar-color: #c6c7cc;

* {
  box-sizing: border-box;
}

.multi-dropdown-select {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.selected-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #fff;
  border: 2px solid rgba($custom-blue, 0.2);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: rgba($custom-blue, 0.4);
  }

  &.open {
    border-color: $custom-blue;
    box-shadow: 0 0 0 3px rgba($custom-blue, 0.1);
  }
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.selected-option {
  padding: 4px 8px;
  background: rgba($custom-blue, 0.1);
  border-radius: 8px;
  cursor: default;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1;
}

.remove-option {
  background: none;
  border: none;
  color: $custom-blue;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  width: 16px;
  height: 16px;

  &:hover {
    background: rgba($custom-blue, 0.1)
  }
}

.search-add-input {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
  min-width: 140px;
  padding: 4px 8px;
}

.arrow-icon {
  transition: all 0.2s;

  &.open {
    transform: rotate(180deg);
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px 2px 20px 12px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.options {
  max-height: 240px;
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #686f78;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 3px;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($custom-blue, 0.1);
  }

  &.selected {
    background-color: rgba($custom-blue, 0.1);

    .option-value {
      color: $custom-blue;
      font-weight: 500;
    }
  }
}

.add-icon {
  color: $custom-blue;
  font-size: 20px;
}